<!DOCTYPE html>
<html lang="en">
  <head><% include partials/head %>
  </head>
  <body>
    <!-- <% include partials/menu %> -->
    <br>
      <div class="container text-center">
        <div class="row" id="dash">
          <div class="col-sm-auto col-md-3 col-lg-3">
            <div class="dash-unit">
							<div class="row">
							<div class="row">
                <canvas id="generation" class="img-fluid canvas"></canvas>
							</div>
							<div class="row">
								<digiclock id="generation-value"></digiclock>
							</div>
							<div class="row">
								<div>Current Generation</div>
							</div>
              </div>
						</div>
            </div>
						<div class="col-sm-auto col-md-3 col-lg-3">
							<div class="dash-unit">
								<div class="row">
								<div class="row">
									<canvas id="usage" class="img-fluid canvas"></canvas>
								</div>
								<div class="row">
									<digiclock id="usage-value"></digiclock>
								</div>
								<div class="row">
									<div>Current Utilisation</div>
								</div>
								</div>
							</div>
							</div>
                <div class="col-sm-auto col-md-3 col-lg-3">
                  <div class="half-unit">
                    <digiclock id="clock"></digiclock>
                  </div>
                  <div class="half-unit">
                    <digiclock id="ambient-value"></digiclock>
                    <div>Living Room</div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-sm-auto col-md-3 col-lg-8">
                  <canvas id="myChart"></canvas>
                  </div>
                </div>
                <canvas id="ambient" hidden="true"></canvas>
                <div id="camera">
                  <canvas id="video">
                </div>
                <div id="settings">
                  <h1>settings</h1>
                </div>
              </body><% include partials/script %><% include partials/navigation %>
            </html>
